<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://phpunit.de/phpunit.xsd"
    backupGlobals="false"
    verbose="true"
    colors="true">

    <testsuites>
        <testsuite>
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
</phpunit>